body {
    background-color: #00b894;
    color: #55efc4;
    font-family: 'Dancing Script', cursive;
}

.clueOne {
    background-color: #55efc4;
    color:#00b894 ;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    margin-left: -5%;
    margin-right: -5%;
    font-size: 2.8rem;
}

.btn {
    width: 80%;
    margin: 0 10% 20%;
    border-radius: 100px;
}

.btn-primary a {
    color: #fff;
}

.btn-primary {
    margin-top: 15%;
}

.next {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.6rem;
}

/* Modal */
    .modal {
        margin-top: 25%;
    }

    .modal-header {
        background-color: #275B52;
        
    }

    .modal-title {
        background-color: #275B52;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #58B59A;
    }

    .modal-body {
        background-color: #D33943;
        color: #fff;
        font-size: 1.5rem;
        margin-top: -2%;
        margin-bottom: -2%;
        
    }

    .modal-footer {
        background-color:#275B52;
        padding-top: 30px;
    }