body {
    background-color: #00b894;
    color: #55efc4;
    font-family: 'Dancing Script', cursive;
}

.clueOne {
    background-color: #55efc4;
    color:#00b894 ;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    margin-left: -5%;
    margin-right: -5%;
    font-size: 2.8rem;
}

.btn {
    width: 80%;
    margin: 0 10% 20%;
    border-radius: 100px;
}

.btn-primary a {
    color: #fff;
}

.btn-primary {
    margin-top: 15%;
    background-color: #00b894;
    border: 2px solid #55efc4;
}

button.btn.btn-lg.btn-danger {
    margin-top: 10%;
    background-color:  #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
    
}

button.btn.btn-lg.btn-danger:focus {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
}

button.btn.btn-lg.btn-danger:active {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-danger:link {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-danger:blur {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-danger::after {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-danger:visited {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

/* Primary Button */
button.btn.btn-lg.btn-primary {
    margin-top: 10%;
    background-color:  #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
    
}

button.btn.btn-lg.btn-primary:focus {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-primary:active {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-primary:link {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-primary:blur {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-primary::after {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}

button.btn.btn-lg.btn-primary:visited {
    background-color: #00b894;
    border: 2px solid #55efc4;
    box-shadow: none;
    outline: none;
}



.next {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 20px;
    
}

/* Modal */
    .modal {
        margin-top: 25%;
    }

    .modal-header {
        background-color: #00b894;
        
    }

    .modal-title {
        background-color: #00b894;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .modal-body {
        background-color: #D33943;
        color: #fff;
        font-size: 1.5rem;
        margin-top: -2%;
        margin-bottom: -2%;
        
    }

    .modal-footer {
        background-color:#00b894;
        padding-top: 30px;
    }

    .modal-footer button {
        background-color: #00b894;
        border: 2.5px solid  #55efc4;
        font-size: 1.3rem;
    }

    .modal-footer button:active {
        background-color: #00b894;
        border: 2.5px solid  #55efc4;
        font-size: 1.3rem;
    }