body {
    background-color: #00b894;
    color: #55efc4;
    font-family: 'Dancing Script', cursive;
}

p {
    margin-top: 5vh;
    font-size: 1.6rem;
    text-align: center;
    padding: 15px;
}

.time {
    background-color: #55efc4;
    color:#00b894 ;
    text-align: center;
    height: 100px;
    padding: 15px;
    margin-left: -5%;
    margin-right: -5%;
}

.btn {
    width: 80%;
    margin: 0 10% 20%;
    border-radius: 100px;
}

.btn-primary a {
    color: #fff;
}

.btn-primary {
    margin-top: 15%;
}

h2 {
    text-align: center;
    margin-top: 25px;
}

button.btn.btn-primary.btn-lg.button {
    background-color: #00b894;
    border: 2px solid #55efc4;
}

/* .giphy-embed {
    margin-left: 15px;
} */


    