body {
    background-color: #00b894;
    color: #55efc4;
    font-family: 'Dancing Script', cursive;
}

p {
    margin-top: 10vh;
    font-size: 1.6rem;
}

.time {
    background-color: #55efc4;
    color:#00b894 ;
    text-align: center;
    height: 100px;
    padding-top: 15px;
    margin-left: -5%;
    margin-right: -5%;
}

.btn {
    width: 80%;
    margin: 0 10% 20%;
    border-radius: 100px;
}

.btn-primary a {
    color: #fff;
}

.btn-primary {
    margin-top: 15%;
}


    